/* login wrapper */

#loginWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 30rem;
    background-color: #004b6e;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
    display: block;
    padding: 1rem 0;
}

/* register wrapper */

#registerWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 30rem;
    background-color: #004b6e;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
    display: none;
}

/* form elements */

.form {
    padding: 1rem;
}

/* form titles */

.formTitle {
    font-size: 1.6rem;
    color: white;
    margin: 1rem 0 0 0;
    padding: 0;
    text-align: center;
}

/* input elements */

.input {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: .3rem;
    display: block;
    font-size: 1rem;
    margin: 1.5rem 0;
    outline: none;
}

/* text wrapper that contains the switch auth type text and button */

.switchAuthTextWrap {
    color: #ffffff;
    font-size: .9rem;
}

/* button to click on and swtich the auth type */

.switchAuthTypeBtn {
    color: #00c3ff;
    font-weight: 500;
    text-decoration: none;
}

/* password message to tell user what they need to have */

#passwordMsg {
    color: white;
    font-size: .9rem;
    margin-bottom: 1rem;
}

/* check box styles for password steps */

.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: default;
}

.form-group label {
    position: relative;
    cursor: default;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: default;
    margin-right: 5px;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #00c3ff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* terms and conditions text under submit button */
#termsConditionText {
    color: rgb(129, 129, 129);
    font-size: .8rem;
}

/* forgot password text */
#forgotPassBtn {
    color: #00c3ff;
    text-decoration: none;
}