/* feedback button */

#feedbackBtn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1rem;
    bottom: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
    text-decoration: none;
}

#feedbackBtn:hover {
    transform: rotate(360deg)
}

/* feedback button icon */

.fa-bug {
    font-size: 2rem;
    color: black;
    text-decoration: none;
}