html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(46, 46, 46);
    background: linear-gradient(0deg, rgba(46, 46, 46, 1) 0%, rgba(71, 71, 71, 1) 57%, rgba(98, 98, 98, 1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.btn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .3rem .5rem;
    border: 1px solid #464646;
    border-radius: 5px;
    cursor: pointer;
    background-color: #464646;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
    -webkit-transition: .4s all ease;
    -moz-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
}

.btn:hover {
    color: #00c3ff;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* root element for each page */

.pageRoot {
    margin-top: 4rem;
}

/* input elements */

.input {
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: .3rem;
    display: block;
    font-size: 1rem;
    margin: .5rem 0;
    color: black;
    outline: none;
}

/* input wrapper surrounding the labels and inputs */

.inputWrap {
    width: 100%;
    margin: 1.5rem 0;
}

/* label element */

.label {
    display: block;
    color: white;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

/* card  */

.card {
    width: 100%;
    background-color: #004b6e;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
    margin: 4rem 0;
    padding: .8rem 1rem;
}

.divider {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
}

/* ! BASIC STYLES */

.small-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

.large-shadow {
    box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}

.dark-blue {
    background-color: #004b6e;
}

.light-blue {
    background-color: #00c3ff;
}

.grey {
    background-color: #464646;
}

/* ! modals */